# MongoDB Connection String
# Replace with your MongoDB Atlas connection string
SPRING_DATA_MONGODB_URI=mongodb+srv://RK_foods:RKFoods123@smart-campus.abcde.mongodb.net/rkfood?retryWrites=true&w=majority

# Server Port
SERVER_PORT=8080

# Spring Profile
SPRING_PROFILES_ACTIVE=production
